#cube {
    position: absolute;
    width: var(--cubeSize);
    height: var(--cubeSize);
    top: 50%;
    left: 50%;

    transform-origin: center;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
}